@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  body {
    @apply font-text text-[1.0625rem] leading-tight tracking-[0.0063em] text-base-black dark:text-base-white;
  }

  .title-lg {
    @apply font-title text-[1.75rem] font-medium leading-[2.125rem] tracking-[0.0225em];
  }

  .title-md {
    @apply font-title text-xl font-medium tracking-[0.0225em];
  }

  .title-sm {
    @apply font-title font-medium leading-[1.375rem] tracking-[0.0063em];
  }

  .subheadline {
    @apply text-[0.9375rem] leading-5 tracking-[0.0063em];
  }

  .footnote {
    @apply font-title text-[0.8125rem] font-medium leading-[1.125rem];
  }

  .caption {
    @apply text-xs uppercase;
  }
}

.auth-page section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

@media (min-width: theme('screens.md')) {
  .auth-page section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.profile-page section {
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: theme('screens.md')) {
  .profile-page section {
    flex-direction: row;
    flex-grow: 0;
  }
}

.verification-page section {
  flex-direction: column;
}

@media (min-width: theme('screens.md')) {
  .verification-page section {
    flex-direction: row;
  }
}
